* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}


body,
input,
textarea {
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 16px 0;
  background-color: #182c61;
  color: #ecf0f1;
}

header nav li {
  display: inline;
  margin-left: 16px;
  color: #ecf0f1;
  font-size: 18px;
}

header nav li a {
  color: #ecf0f1;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header .container,
section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


section .container {
  align-items: flex-start;
}

section {
  padding: 24px 0;
}

section h2 {
  margin-bottom: 16px;
}

section p {
  margin-bottom: 8px;
}

.store-front {
  margin-right: 32px;
}

section {
  color: #000000;
}



.product-list img {
  margin-bottom: 20px;
  max-width: 70%;
  cursor: pointer;
}



.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.product {
  flex: 1;
  max-width: 25%;
  padding: 10px;
  text-align: center;

}


button {
    width: 80%;
  padding: 8px 0;
  border: none;
  background-color: #182c61;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  border-radius: 6px;
}

@media screen and (max-width: 767px) {
  section .container {
    display: block;

  }

  header .container {
    display: flex;
    justify-content: center;
    
  }

  h2 {
    font-size: 40px;
    padding-top: 15px;
  }

  p {
    font-size: 20px;
  }

  .product-list {
    display: flex;
    margin-top: 0;
  }

  .product-list img {
    height: 240px;
    
  }

  .product-list h3 {
    font-size: 22px;
  }

  .product-list p {
  font-size: 15px;
  }

  button {
    width: 80%;
    padding: 8px 0;
    border: none;
    background-color: #182c61;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;

  }

}