* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
}

header {
  
  background-color: #182c61;
  padding: 15px;
  color: white;
}

form {
  margin-top: 20px;
}

label.form-label {
  font-weight: bold;
}




body {
  padding: 20px;
}