* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



header {
  background-color: #192a56;
  padding-top: 16px;
  color: white;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #192a56;
  color: white;
  font-size: 16px;
  font-style: italic;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 10px;
}

.form-campo {
  margin-bottom: 16px;
  }

.form-campo label {
  font-weight: bold;
}

.form-campo input{
width: 300%;
display: block;
padding: 8px;
}

#contato {
  display: flex;
  justify-content: left;
  padding-left: 50px;
  
}

